<%= render 'users_nav' %>

<% @user.followers.each do |follower| %>
<div class="d-flex justify-content-center align-items-center mt-4">
  <li>
    <%= link_to follower.username, user_path(follower.username) %>
  </li>
</div>
  <% end %>
